{% extends "base.html" %}

{% block content %}
  <h1>
    TODO list
    <a href="{% url "todo_list:task-create" %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
    {% if task_list %}
      <div class="ml-8">
        {% for task in task_list %}
          <hr>
          <h5>{{ task.content }} <span class="{% if task.completed %}green{% else %}red{% endif %}">{{ task }}</span></h5>
          <p><strong>Created at:</strong> {{ task.created_at }}</p>
          <p><strong>Tags: </strong>{% for tag in task.tags.all %}{{ tag.name }} {% endfor %}</p>
          <a href="{% url "todo_list:task-update" pk=task.id %}" class="btn btn-primary">Update</a>
          <a href="{% url "todo_list:task-delete" pk=task.id %}" class="btn btn-danger">Delete</a>
        {% endfor %}
        <hr>
      </div>
    {% else %}
      <p>There are no tasks!</p>
    {% endif %}
{% endblock %}