{% extends "base.html" %}

{% block content %}
  <h1>
    TODO list
    <a href="{% url "todo_list:task-create" %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% if task_list %}
    {% for task in task_list %}
      <p><strong>{{ task.content }}
        <a href="{% url "todo_list:task-update" pk=task.id%}">
          Update
        </a>
      </strong></p>
      {% if task.completed %}
        <p style="color: darkgreen">Done</p>
      {% else %}
        <p style="color: brown">Not done</p>
      {% endif %}
      <p>Created at: {{ task.created_at }}</p>
      <p>Tags: </p>
      {% for tag in task.tags.all %}
        <li>{{ tag }}</li>
      {% endfor %}

  {% endfor %}

  {% endif %}

{% endblock %}
